@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=BhuTuka+Expanded+One&display=swap');

.footer {
  width: 100%;
  height: auto;
  background-color: #66AECE;
  color: white;
  font-family: 'Baloo 2', cursive;
  text-align: center;
  font-size: 35px;
  flex-shrink: 0;
  bottom: 0;
  
}
.h1footer {
  color: #FFF;
  width: 88px;
  text-align: center;
  font-family: Baloo 2;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 145px;
}

.h2footer {
  color: #FFF;
  text-align: center;
  font-family: 'Baloo 2';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100.2%;
  width: 160px;
  height: 22px;
  flex-shrink: 0;
  float: right;
}

.footerp {
color: #FFF;
  text-align: center;
  font-family: 'Baloo 2';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.7%;
  width: 150px;
  height: 42px;
  flex-shrink: 0;
  float: right;
    background-color: #66AECE;
    padding-right: 25px;

}
.footerimg {
width: 33px;
  height: 33px;
  flex-shrink: 0;
  padding-left: 0px;
  margin-right: 10px;
}
.footerimgmmi { 

  width: 46px;
    height: 33px;
    flex-shrink: 0;
    padding-right: 35px;
}
