@font-face {
    font-family: "StoriaLettering";
    src:
        local("StoriaLettering"),
        url("/public/fonts/storia-lettering.otf") format("otf"),
}

.h1_header {
    font-family: 'StoriaLettering';
    font-size: 35px;
}

.header {
    background-color: #66AECE;
    color: white;
    font-family: 'StoriaLettering';
    padding: 10px;
    text-align: center;
    font-size: 35px;
    width: 100%;
}