@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=BhuTuka+Expanded+One&display=swap');

.h1 {
  font-family: 'Baloo 2', cursive;
  font-size: 35px;
  font-weight: bold;
  color: #264574
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.paragraph {
    color: #000;
     font-family: 'Baloo 2';
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}