@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=BhuTuka+Expanded+One&display=swap');


body {
  margin: 0px;
  overflow-x: hidden;
}

.h1 {
color: #FFF;

  text-align: center;
  /* H1 */
  font-family: 'Baloo 2';
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.h2 {
  font-family: 'Baloo 2';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #264574;
}

.paragraph {
color: #000;

  font-family: 'Baloo 2';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
}

.photohome {
  width: 376px;
  height: 470px;
  flex-shrink: 0;
  background:lightgray 50% / cover no-repeat;
  
}

.trait {
stroke-width: 1px;
  stroke: rgba(38, 69, 116, 0.33);
  width: 116px;
    height: 0px;
    flex-shrink: 0;
  margin-left: 25px;

}

.photoarticle {
   width: 375px;
    height: 231px;
    flex-shrink: 0;
  background: rgba(196, 196, 196, 0.21);
    background-blend-mode: exclusion;
}

.desc {

  width: 245px;
  color: #858585;
  
    /* Small text */
    font-family: 'Baloo 2';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.2%;
    /* 13.82px */
}

.photofrisegauche {
width: 155px;
  height: 219px;
  flex-shrink: 0;
  border-radius: 10px;
  float: left;
 
  
}

.h2frise__conteneur {
 display: flex;
 width: 134px;
 padding-left: 13px;

}

.h2frise {
  font-family: 'Baloo 2';
  color: #223E4B;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.photofrisedroite {
width: 148px;
  height: 219px;
  flex-shrink: 0;
  border-radius: 10px;
  float: right;
  
}
.descfrise {
color: #223E4B;
text-align: justify;
font-family: 'Baloo 2';
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.descfrise__conteneur {
  

}

.flechefrise {
width: 49px;
height: 45px;
flex-shrink: 0;
padding-left: 167px;
padding-right: 159px
}

.ligne {

}

.bloc {
  justify-content: center;
margin-left: 30px;
border-radius: 10px;
background: rgba(102, 174, 206, 0.66);
width: 316px;
height: 219px;

}

.photocalcifer {
  width: 48.961px;
  height: 54.026px;
  flex-shrink: 0;
  float: right;
}

.video {
  width: 376px;
  height: 211px;
  flex-shrink: 0;
  background: rgba(196, 196, 196, 0.21);
  background-blend-mode: exclusion;
}