body {
  margin: 0px;
  overflow-x: hidden;
}

.h1 {
color: #FFF;

  text-align: center;
  /* H1 */
  font-family: 'Baloo 2';
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.h2 {
  font-family: 'Baloo 2';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #264574;
}

.paragraph {
color: #000;
font-family: 'Baloo 2';
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 10px;
padding-right: 10px;
}

.photohome {
  width: max-content;
  height: 600px;
  background:lightgray 50% / cover no-repeat;
  position: absolute;
  z-index: 7;  
}

.trait {
stroke-width: 1px;
  stroke: rgba(38, 69, 116, 0.33);
  width: 116px;
    height: 0px;
    flex-shrink: 0;
  margin-left: 25px;

}

.photoarticle {
  width: 346px;
  height: 176px;
  flex-shrink: 0;
  background: rgba(196, 196, 196, 0.21);
  background-blend-mode: exclusion;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.desc {

  width: 245px;
  color: #858585;
  
    /* Small text */
    font-family: 'Baloo 2';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.2%;
    /* 13.82px */
}

.photofrisegauche {
width: 155px;
  height: 219px;
  flex-shrink: 0;
  border-radius: 10px;
  float: left;
 
  
}

.h2frise__conteneur {
 display: flex;
 width: 134px;
 padding-left: 13px;

}

.h2frise {
  font-family: 'Baloo 2';
  color: #223E4B;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.photofrisedroite {
width: 148px;
  height: 219px;
  flex-shrink: 0;
  border-radius: 10px;
  float: right;
  
}
.descfrise {
color: #223E4B;
text-align: justify;
font-family: 'Baloo 2';
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.descfrise__conteneur {
  

}

.flechefrise {
width: 49px;
height: 45px;
flex-shrink: 0;
padding-left: 167px;
padding-right: 159px
}

.ligne {

}

.bloc {
  justify-content: center;
margin-left: 30px;
border-radius: 10px;
background: rgba(102, 174, 206, 0.66);
width: 316px;
height: 219px;

}

.photocalcifer {
  width: 48.961px;
  height: 54.026px;
  flex-shrink: 0;
  float: right;
}

.video {
  width: 376px;
  height: 211px;
  flex-shrink: 0;
  background: rgba(196, 196, 196, 0.21);
  background-blend-mode: exclusion;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #66AECE;
  

}

.header li {
  list-style: none;
}

.carrouselimg {
  max-width: 96%;
  height: 200px;
  border-radius: 10px;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.50);
  margin-top: 10px;
  filter: brightness(50%);

    }

.carrousel_parent-ecrans {
  display: flex;
  width: 96%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  margin-left: 1%;
  
}

.carrousel_ecran {
  flex: none;
  width: 96%;
  scroll-snap-align: start
}

.carrousel_ecran figure {
  margin: 0;
}

.carrousel {
  position: relative;
}


.carrousel_btn-avant {
  left: 0;
}

.carrousel_btn-apres {
  right: 0;
}

.carrouseltxt {
  width: 243px;
  height: 86px;
  flex-shrink: 0;
  color: white;  
  font-family: 'Baloo 2';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: translate(30px, -132px);
  text-decoration: none;
}
.carrouseltxt a {
  color: white;
  text-decoration: none;
}

.photoprojet {
  width: 315px;
  height: 172px;
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.50);
  filter: brightness(50%);
  
}

.photoprojet_conteneur {
  padding-left: 30px;
}

.pprojet {
    width: 243px;
      height: 86px;
      flex-shrink: 0;
      color: white;
      font-family: 'Baloo 2';
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      transform: translate(30px, -132px);
      text-decoration: none;
}

.menutitre {
    width: 279px;
    height: 57px;
    flex-shrink: 0;
    color: #FFF !important;
    
      font-family: 'Baloo 2';
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-decoration: none;
      margin-left: 20px;
    }

.menutrait{
  border: none;
  flex-shrink: 0;
  width: 279px;
    height: 1px;
    flex-shrink: 0;
    background-color: #FFF;
    transform: translate(-30px , -10px);
}
.texthome {
  position: relative;
  z-index: 8;
  width: 286px;
  height: 50.968px;
  filter: drop-shadow(1px 1px 1px black);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}


.espace {
  padding-top: 310px;
  height: 0px;
}

.texthome__conteneur {
  display: flex;
  justify-content: center;
  padding-top: 260px;
}

.close {
  position: absolute;
  right: 35px;
  top: 38px;
}

.menutitle {
  flex-shrink: 0;
  position: absolute;
  left: 16px;
  top: 35px
}

.lang {
  flex-shrink: 0;
    position: absolute;
    left: 200px;
    top: 35px
}

.titres {
  padding-top: 100px;
}